<%= image_tag "map.jpg", width: "100%" %>

<div class="section_part" id="services_section">
  Services
</div>

<div class="section_part" id="about_us_section">
  About Us
</div>

<div class="section_part" id="projects_section">
  Projects
  <%= render "posts/carousel", images: Post.all %>
</div>

<div class="section_part" id="clients_section">
  Clients
</div>

<div class="section_part" id="contact_us_section">
  Contact Us
</div>

<div align="center">
  <div align="center">
    <% unless current_user %>
      <p><%= link_to "Register", new_user_path, class: :white_link %></p>
      <p><%= link_to "Log in", sessions_new_path, class: :white_link %></p>
    <% else %>
      <p class="welcome_text">You are signed in.</p>
      <p class="welcome_text">Welcome, <%= current_user.name %>!</p>
      <%= link_to "Log out", sessions_destroy_path, method: :delete, class: :white_link %>
    <% end %>
  </div>
</div>
