<%= image_tag "mockup.png", class: :mockup_header %>

<div align="center">
  <p class="justified_body_text welcome_text">
GSC Surveying, Inc. has been partnering with construction and engineering firms for over ten years with their site development and highway construction projects.  We apply traditional methods utilizing today’s technology to provide our clients the best service available.
  </p>
  <p class="justified_body_text welcome_text spacing">
Established in 1999, GSC surveying brings over 30 years of combined construction survey experience to our clients.  We take pride in every project for each of our clients.  We believe that in teaming with the design group, the contractor, and all subcontractors to complete the project on schedule.  Whether it is providing information to an engineer for design, or staking for a contractor, we realize that the information we provide to the project is critical to the success of everyone involved.  By working as a team we know that each project can be a successful and profitable one for everyone.
  </p>
</div>

<div align="center">
  <div align="center">
    <% unless current_user %>
      <p><%= link_to "Register", new_user_path, class: :white_link %></p>
      <p><%= link_to "Log in", sessions_new_path, class: :white_link %></p>
    <% else %>
      <p class="welcome_text">You are signed in.</p>
      <p class="welcome_text">Welcome, <%= current_user.name %>!</p>
      <%= link_to "Log out", sessions_destroy_path, method: :delete, class: :white_link %>
    <% end %>
  </div>
</div>
