<%= image_tag "map.jpg", width: "100%" %>

<div class="section_part" id="services_section">

 <div class= "services_parenta"> 
    <div class="gsc_construction_icon">
        <%= image_tag "icons/gsc_construction_icon.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > CONSTRUCTION </p>
   </div>
   
   <div class="gsc_3d_modelling_icon">
        <%= image_tag "icons/gsc_3d_modelling.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > 3D MODELING </p>
    </div>
 
    <div class="gsc_gps_icon">
      <%= image_tag "icons/gsc_gps.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > ONSITE TECHNICAL SUPPORT ON GPS MACHINE CONTROL </p>
    </div>
 
    <div class="location_survey_icon">
      <%= image_tag "icons/location_survey.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > TOPOGRAPHIC SURVEYING </p>
    </div>
 </div>
 
 <div class="services_parentb">
   <div class="gsc_survey_icon">
        <%= image_tag "icons/gsc_survey.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > HORIZONTAL AND VERTICAL CONTROL SURVEYS </p>
    </div>
   
   <div class="gsc_control_survey_icon">
        <%= image_tag "icons/gsc_control_survey.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > LOCATION SURVEYS FOR ENGINEERING AND DESIGN </p>
    </div>

   <div class="other_alt_icon">
      <%= image_tag "icons/other_alt.png", width: "110px" %> <p style= "color: black; max-width: 300px;" > OTHER SURVEYING SERVICES </p>
   </div>
</div>
</div>

<div class="section_part" id="about_us_section">
 <h2 style="color:darkorange";> About Us</h2>
</div>

<div class="section_part" id="projects_section">
  <h2 style="color:darkblue";>Projects</h2>
</div>

<div class="section_part" id="clients_section">
 <h2 style="color: darkorange";> Clients</h2>
</div>

<div class="section_part" id="contact_us_section" >
  <h2>Contact Us</h2>
  <div class="company_emails">
    <p style= font-size:18px;>
      Greg S. Crowder, President
      Registered Land Surveyor
      greg@gscsurveying.com

      Benjamin Andrews
      ben@gscsurveying.com

      Austin McCleery
      austin@gscsurveying.com

      Liz Carpenter Bayer, Office Manager
      liz@gscsurveying.com
    </p>
  </div>
  <div class= "facebook_icon">
    <%= link_to "http://www.facebook.com" do %>
      <%= image_tag "icons/facebook.png", width: "40%" %>
    <% end %>
  </div>
  <div class="twitter_icon">
    <%= link_to "http://www.twitter.com" do %>
      <%= image_tag "icons/twitter.png", width: "40%" %>
    <% end %>
  </div>
  
  <div class="instagram_icon">
    <%= link_to "http://www.instagram.com" do %>
      <%= image_tag "icons/instagram.png", width: "40%" %>
    <% end %>
    </div>
  
  
  
  <div class="google_maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.7142925526628!2d-78.63260468473706!3d35.83148498015967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac58ea71c6eb91%3A0x6b3df7bae78983ea!2sGSC+Surveying+Inc!5e0!3m2!1sen!2sus!4v1485914436090" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>

<div align="center">
  <div align="center">
    <% unless current_user %>
      <p><%= link_to "Register", new_user_path, class: :white_link %></p>
      <p><%= link_to "Log in", sessions_new_path, class: :white_link %></p>
    <% else %>
      <p class="welcome_text">You are signed in.</p>
      <p class="welcome_text">Welcome, <%= current_user.name %>!</p>
      <%= link_to "Log out", sessions_destroy_path, method: :delete, class: :white_link %>
    <% end %>
  </div>
</div>
