<!DOCTYPE html>
<html>
<head>
  <title>GSC Surveying, Inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<% if mobile? %>
  <%= render "app/nav_menu" %>
<% else %>
  <%= render "app/nav_bar" %>
<% end %>

<%= yield %>

</body>
</html>
